%header-left-align,
%header-right-align{
		display: block;
		font-weight: bold;
		@include font-size($h2-font-sizes);
		line-height: 40px;
		margin-bottom: 20px;
		position: relative;
		text-transform: uppercase;
}
%header-left-align::before,
%header-right-align::after{
	content: "";
	border-top: 1px solid $text-color-dark;
	position: absolute;
	top: 18px;
	transition: 0.5s;
	width: 70px;
	z-index: 99;
}
%header-left-align{
	margin-left: 87px;
	&::before{
		left: -87px; 
	}
}
%header-right-align{
	margin-right: 87px;
	&::after{
		right: -87px;
	}
}
	//box-sizing: border-box;
	//padding: 40px 27px 80px 27px;
	//position: relative;
