@media (min-width: 550px){
	.video{
		&__header{
			width: 50%;
		}
		&__button{
			margin-left: 87px;
		}
	}
}
@media (min-width: 900px){
	.logo{
		margin: 29px 27px;
		left: calc(50% - 350px);
		&__text{
			&::after{
				left: 38px;
				top: calc(50% - 2px);
				width: 50px;
			}
		}
	}
	.navigation{	
		&__menu{
			display: none;
		}
		&__list{
			display: inline-block;
			margin-left: calc(50% - 50px);
			padding-top: 15px;
			&__item{
				float: left;
				&__link{
					border-top: none;
					display: inline-block;
					margin: 20px 40px;
					padding: 0;
					width: auto;
				}
			}
		}
	}
	.home{
		height: 1040px;
		padding-top: 400px;
		&__header{
			letter-spacing: 15px;
		}
	}
	.home,
	.video{
		&__button{
			height: 55px;
			width: 300px;
		}
	}
	.home__button{
		margin: 60px 0 0 -300px;
	}
	.furniture,
	.decor,
	.quality,
	.about{
		max-width: 1254px;
	}
	.furniture,
	.decor,
	.about{
		padding-top: 230px;
		margin-bottom: 10px;
		margin-top: 10px;
		min-height: 200px;
		&__header,
		&__description,
		&__link{
			width: calc(50% - 114px);
		}
		&__photo{
			margin-top: 170px;
			margin-bottom: 10px;
			position: absolute;
			width: calc(50% - 12px);
		}
	}
	.furniture{
		&__photo{
			right: 27px;
			top: 0;
		}
	}
	.decor,
	.about{
		&__header,
		&__description,
		&__link{
			float: right;
			clear: right;
		}
		&__photo{
			left: 27px;
			top: 0;
		}
	}
	.about{
		margin-bottom: 230px;
		&__header,
		&__description,
		&__link{
			margin-right: 30px;
		}
	}
	.quality{
		position: relative;
		&__header{
			&::after{
				top: 55px;
			}
		}
		&__description{
			width: 600px;	
		}
		&__list{
			&__item{
				display: inline-block;
				margin-left: 22px;
				margin-right: 22px;
				&__play{
					margin-left: -35px;
					margin-top: -80px;
				}	
			}
		}
	}
	.video{
		padding-left: 22%;
	}
	.footer-section{
		padding: 20px;
		&__copyright{
			left: 0;
			margin-left: 27px;
			margin-top: -8px;
			position: absolute;
			top: 50%;
		}
		&__logo{
			&__text{
				padding: 0;
			}
		}
		&__author{
			position: absolute;
			margin-right: 27px;
			margin-top: -8px;
			right: 0;
			top: 50%;
		}
	}
}
@media (min-width: 1080px){
	.furniture,
	.decor,
	.about{
		padding-top: 270px;
		&__header,
		&__description,
		&__link{
			width: calc(50% - 194px);
		}
		&__link{
			&::before{
				margin-top: 18px;
				width: 45px;
			}
		}
	}
	.furniture,
	.video{
		&__header,
		&__description{
			margin-left: 177px;
		}
		&__header{
			&::before{
				left: -177px; 
				width: 150px;
			}
		}
		&__description{
			&::before{
				left: -72px;
				width: 45px;
			}
		}
	}
	.furniture{
		&__link{
			margin-left: 177px;
		}
	}
	.decor{
		margin-bottom: 150px;
		&__header,
		&__description,
		&__link{
			margin-right: 177px;
		}
		&__header{
			&::after{
				right: -177px;
				width: 150px;
			}
		}
		&__description{
			&::after{
				right: -72px;
				width: 45px;
			}
		}
	}
	.quality{
		&__list{
			&__item{
				margin-left: 55px;
				margin-right: 55px;			
			}
		}
	}
	.video{
		&__button{
			margin-left: 170px;
		}
	}
	.about{
		margin-bottom: 300px;
		&__header,
		&__description{
			margin-left: 127px;
		}
		&__header{
			&::before{
				left: -177px; 
				width: 150px;
			}
		}
		&__description{
			&::before{
				left: -72px;
				width: 45px;
			}
		}
	}
}
@media (min-width: 1200px){
	.footer-section{
		&__copyright{
			margin-left: calc(50% - 600px);
		}
		&__author{
			margin-right: calc(50% - 600px);
		}
	}
}