.about{
	margin-bottom: 150px;
	max-width: 650px;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 100px;
	position: relative;
	&__header{
		animation: 1s slide-right backwards paused;
		@extend %header-left-align;
		color: $text-color-dark;
	}
	&__description{
		animation: 1s slide-right 0.3s backwards paused;
		@extend %description-left-align;
		color: $text-color-darklight;
	}
	&__link{
		animation: 1s slide-right 0.6s backwards paused;
		@extend %link-left-align;
		&__arrow{
			@extend %link-arrow;
		}
	}
	&__photo{
		@extend %photo;
	}
}