.decor{
	max-width: 650px;
	padding: 50px 27px;
	position: relative;
	text-align: right;
	&__header{
		animation: 1s slide-right backwards paused;
		@extend %header-right-align;
		color: $text-color-dark;
	}
	&__description{
		animation: 1s slide-right 0.2s backwards paused;
		@extend %description-right-align;
		color: $text-color-darklight;
	}
	&__link{
		animation: 1s slide-right 0.4s backwards paused;
		@extend %link-right-align;
		&__arrow{
			@extend %link-arrow;
		}
	}
	&__photo{
		@extend %photo;
	}
}