.footer-section{
	background: url('../img/bg-3.jpg') center no-repeat;
	background-color: $bg-mask;
	background-blend-mode: overlay;
	box-sizing: border-box;
	padding: 5px;
	height: 70px;
	position: relative;
	text-align: center;
	&__copyright{
		color: $text-color-darklight;
		text-transform: uppercase;
	}
	&__logo{
		text-align: center;
		&__text{
			@extend .logo__text;
			display: inline-block;
			padding: 5px;
			position: relative;
		}
	}
	&__author{
		color: $text-color-darklight;
		&--color{
			color: $text-color-darklight * 1.8;
		}
	}
}