.footer-section{
	background: url('../img/bg-3.jpg') center no-repeat;
	background-color: $bg-mask;
	background-blend-mode: overlay;
	box-sizing: border-box;
	padding: 20px;
	height: 70px;
	position: relative;
	&__copyright{
		color: $text-color-darklight;
		left: 0;
		margin-left: 27px;
		margin-top: -8px;
		position: absolute;
		text-transform: uppercase;
		top: 50%;
	}
	&__logo{
		text-align: center;
		&__text{
			@extend .logo__text;
			display: inline-block;
			position: relative;
		}
	}
	&__author{
		color: $text-color-darklight;
		position: absolute;
		margin-right: 27px;
		margin-top: -8px;
		right: 0;
		top: 50%;
		&--color{
			color: $text-color-darklight * 1.2;
		}
	}
}