.quality{
	max-width: 650px;
	padding-top: 150px;
	position: relative;
	text-align: center;
	&__header{
		animation: 1s slide-up both paused;
		font-weight: bold;
		@include font-size($h2-font-sizes);
		margin-bottom: 20px;
		position: relative;
		text-transform: uppercase;
		&::after{
			border-top: 3px solid $base-color;
			content: "";
			left: 50%; 
			margin-left: -15px;
			position: absolute;
			top: 45px;
			width: 30px;
		}
	}
	&__description{
		animation: 1s slide-right 0.3s both paused;
		@include font-size($description-font-sizes);
		line-height: 150%;
		margin: 40px auto;
		width: 300px;	
	}
	&__list{
		&__item{
			margin-top: 80px;
			position: relative;
			transition: 0.5s;
				&::before{
					border: 1px solid #cccccc;
					border-radius: 50%;
					content:"";
					display: block;
					height: 280px;
					left: 50%;
					margin-left: -141px;
					position: absolute;
					top: -18px;
					width: 280px;
				}
			&__photo{
				border-radius: 122.5px;	
			}
			&__play{
				background-color: $base-color-opacity;
				border-radius: 50%;
				fill: $text-color-light;
				height: 0.3in;
				margin-left: -35px;
				margin-top: -65px;
				overflow: visible;
				padding: 20px 18px 20px 22px;
				position: absolute;
				left: 50%;
				top: 50%;
				transition: 0.5s;
				width: 0.3in;
				&:hover{
					background-color: $base-color;
					cursor: pointer;
				}
			}
			&__description{
				margin-top:50px;
				margin-bottom:30px;
				&::before{
					border-top: 1px solid $base-color;
					content: "";
					left: 50%;
					margin-left: -15px;
					margin-top: -15px;
					position: absolute;
					width: 30px;
				}
			}
		}
		&__item:nth-child(1){
			animation: 0.7s slide-up 0.8s both paused;
		}
		&__item:nth-child(2){
			animation: 0.7s slide-up 1.4s both paused;
		}
		&__item:nth-child(3){
			animation: 0.7s slide-up 1.8s both paused;
		}

	}
}